.container {
    width: 100vw; 
    height: 100vh;
    background-color: #e1ede4;
    display: flex;
    align-items: center;
    justify-content: center; 
   
   
}

.loginContainer {
    width: 250px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgb(118, 113, 113);
    
    

}



 
