.inputs-wrapper {
  /* border: 1px solid rgb(255, 0, 0); */
  width: 200px;
  display: flex;
  flex-direction: column ;
  justify-content:center;
  align-items: center;
  
}

.label {
    color: rgba(0, 34, 255, 0.564);
    




}

.error {
  color: red;
}